@model SF.Models.Facturacion

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>Está seguro que quiere eliminar esta factura?</h3>
<div>
    <h4>Factura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioUnitario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioUnitario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Articulos.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Articulos.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Articulos1.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Articulos1.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clientes.nombreComercial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clientes.nombreComercial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clientes1.nombreComercial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clientes1.nombreComercial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vendedores.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendedores.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vendedores1.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendedores1.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
