@model IEnumerable<SF.Models.Clientes>

@{
    ViewBag.Title = "Index";
}

<h2>Clientes</h2>

<p>
    @Html.ActionLink("Agregar cliente", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombreComercial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RNC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CuentasContables)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombreComercial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RNC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CuentasContables.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id_Cliente }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id_Cliente }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id_Cliente })
        </td>
    </tr>
}

</table>
